/* 
<link rel="stylesheet" href="./../media.css"> 
*/

/* 428 x 928 done */
@media (max-width: 428px) and (max-height: 928px) {
    body {
        width: 428px;
        height: 700px;
    }

    .main-container {
        max-width: 428px;
        width: 100%;
        margin-top: 60px;
    }

    h1 {
        margin: 20px auto 25px;
        font-weight: 600;
        font-size: 35px;
    }


    h5 {
        font-size: 20px;

    }

    .main-h5 {
        margin-bottom: 60px;
    }

    .button {
        max-width: 345px;
        width: 100%;
        padding: 20px 0;
    }

    .button .button-text {
        font-size: 22px;
    }

    .button:last-child {
        margin-bottom: 32px;
    }


    .header {
        max-width: 428px;
        width: 100%;
        margin-bottom: 20px;
    }

    .nav li {
        font-size: 20px;
        line-height: 30px;

    }

    h3 {
        margin-left: 130px;
    }

    .main-container.test {
        margin-top: 0;
    }

    .progress-bar {
        margin-bottom: 0;
    }

    .ldBar {
        width: 200px;
        padding-top: 5px;
    }

    .number-active-item,
    .number-next-item {
        font-size: 15px;
        line-height: 30px;
        width: 30px;
        height: 30px;
    }

    .test h5 {
        margin: 40px 0 40px 30px;
    }

    h2 {
        margin-left: 30px;
        font-size: 32px;
        margin-bottom: 215px;
    }

    .birthdate-header {
        margin-bottom: 70px;
    }

    .birth {
        max-width: 345px;
        width: 100%;
    }

    .birth input {
        max-width: 345px;
        width: 100%;
        font-size: 22px;
        margin: 10px auto;
    }

    .birthtime-header {
        margin-bottom: 178px;
    }

    .time-input-header {
        margin-bottom: 56px;
    }

    .icon-screen-header {
        margin-bottom: 22px;
    }

    .icon-screen img {
        margin-bottom: 103px;
    }

    .icon-screen-info {
        font-size: 20px;
        margin-bottom: 65px;
    }

    .goal {
        margin: 15px auto;
    }

    .goals-header {
        margin-bottom: 98px;
    }

    .filter-screen {
        height: 680px;
        position: fixed;
    }

    .choose-card-header {
        max-width: 365px;
        width: 100%;
        margin-bottom: 15px;
    }

    #choose-card-button {
        margin-bottom: 0;
    }


    .swiper {
        width: 428px;
    }

    .cards,
    .cards img {
        max-width: 428px;
        width: 100%;
    }

    .add-card-button {
        bottom: 195px;
    }

    .add-card-header {
        margin-bottom: 35px;
    }

    #add-card-button-last {
        margin-bottom: 0;
    }

    .age-header {
        margin-bottom: 87px;
    }

    .temperament-header {
        margin-bottom: 1px;

        line-height: 35px;
        max-width: 345px;
    }

    .loading-db-header {
        max-width: 370px !important;

        line-height: 36px;
        margin-bottom: 140px !important;
    }

    .discuss-header {
        margin-bottom: 139px;
        max-width: 353px;
    }

    #mut-discuss-header {
        margin-bottom: 175px;
    }

    .help-header {
        margin-bottom: 51px;
    }

    .int-emotional-header {
        max-width: 360px;
        margin-bottom: 103px;
    }

    .icon-screen-info.heart {
        margin-bottom: 22px;
    }

    .decision-header {
        margin-bottom: 87px;
    }

    .social-header {
        margin-bottom: 48px;
    }

    .email-header {
        margin-bottom: 2px;
    }

    .plan-db-header {
        margin-bottom: 40px !important;
    }

    .plan-load-info {
        margin-bottom: 135px !important;
    }

    .icon-screen {
        max-width: 428px;
        width: 100%;
    }

    .icon-screen img {
        margin-bottom: 110px;
    }

    .sun-icon {
        margin-top: 45px;
    }

    .sun-header {
        margin-bottom: 95px;
    }

    .sun-info {
        margin-bottom: 100px;
    }

    .price-info p {
        font-size: 20px;
        line-height: 26px;
    }

    .popular-choice {
        margin-bottom: 36px;
    }

    .trial_header {
        margin: 60px auto;
        font-size: 22px;
    }

    .price-description {
        font-size: 16px;
        margin-bottom: 137px;
    }

    .partner-birthdate-header {
        margin-bottom: 35px;
    }

    .partner-yes-no-birthtime-header {
        margin-bottom: 142px;
    }

    .partner-input-birthtime-header {
        margin-bottom: 21px;
    }



    .und-temp-header {
        margin-bottom: 38px;
    }

    .partner-discuss-header {
        margin-bottom: 175px;
    }

    .partner-treat-header {
        margin-bottom: 175px;
    }

    .partner-help-header {
        margin-bottom: 14px;
    }

    .partner-decision-header {
        margin-bottom: 51px;
    }

    .new-header {
        margin-bottom: 87px;
    }

    .next-db-header {
        margin-bottom: 180px !important;
    }

    .past-header {
        margin-bottom: 87px;
    }

    .eye-header {
        max-width: 345px;
        width: 100%;
        margin-bottom: 30px;
    }

    .co-decision-header {
        margin-bottom: 63px;
        max-width: 345px;
    }
}


/* 428 x 926 done */
@media (max-width: 428px) and (max-height: 926px) {
    body {
        width: 428px;
        height: 698px;
    }

    .main-container {
        max-width: 426px;
        width: 100%;
        margin-top: 60px;
    }

    .button:last-child {
        margin-bottom: 30px;
    }
}


/* 414 x 896 done */
@media (max-width: 414px) and (max-height: 896px) {
    body {
        width: 414px;
        height: 665px;
    }

    .main-container {
        max-width: 414px;
        width: 100%;
        margin-top: 60px;
    }

    .main-h5 {
        margin-bottom: 40px;
    }

    h2 {
        margin-bottom: 185px;
    }

    .birthdate-header {
        margin-bottom: 40px;
    }

    .birthtime-header {
        margin-bottom: 148px
    }

    .time-input-header {
        margin-bottom: 27px;
    }

    .goals-header {
        margin-bottom: 68px;
    }

    .icon-screen-header {
        max-width: 397px;
    }

    .add-card-header {
        max-width: 360px;
        width: 100%;
    }

    .icon-screen-info {
        margin-bottom: 98px;
    }

    .icon-screen img {
        margin-bottom: 75px;
    }

    .choose-card-header {
        font-size: 30px;
        line-height: 32px;
    }

    .age-header {
        margin-bottom: 57px;
    }

    .temperament-header {
        margin-bottom: 17px;
        line-height: 30px;
        max-width: 360px;
        font-size: 28px;
    }


    .discuss-header {
        margin-bottom: 109px;
    }

    #mut-discuss-header {
        margin-bottom: 145px;
    }

    .help-header {
        margin-bottom: 21px;
    }

    .int-emotional-header {
        margin-bottom: 73px;
    }

    .icon-screen-info.heart {
        margin-bottom: 62px;
    }

    .icon-screen-header.no-screen {
        max-width: 404px;
    }

    .decision-header {
        margin-bottom: 68px;
    }

    .social-header {
        margin-bottom: 25px;
    }

    .email-header {
        margin-bottom: 7px;
        max-width: 383px;
    }

    .popular-choice {
        margin-bottom: 6px;
    }

    .price-description {
        margin-bottom: 107px;
    }

    .icon-screen.sun-icon {
        margin-top: 0;
    }

    .icon-screen.sun-info {
        margin-bottom: 200px;
    }


    .partner-birthdate-header {
        margin-bottom: 3px;
    }

    .partner-yes-no-birthtime-header {
        margin-bottom: 113px;
    }

    .time-input-header {
        margin-bottom: 0;
    }

    .time {
        margin: 81px auto;
    }

    .partner-discuss-header {
        margin-bottom: 145px;
    }

    .partner-treat-header {
        margin-bottom: 145px;
    }

    .partner-help-header {
        max-width: 380px;
    }

    .partner-decision-header {
        margin-bottom: 21px;
    }


    .new-header {
        margin-bottom: 56px;
    }

    .past-header {
        margin-bottom: 57px;
    }

    .co-decision-header {
        margin-bottom: 21px;
    }


}


/* 412 x 915 done */
@media (max-width: 412px) and (max-height: 915px) {
    body {
        width: 412px;
        height: 767px;
    }

    .main-container {
        max-width: 412px;
        width: 100%;

    }

    .button:last-child {
        margin-bottom: 132px;
    }

    .time {
        margin-bottom: 118px;
    }

    .filter-screen {
        height: 718px;
        position: fixed;
    }

    .loading-db-header {
        margin-bottom: 200px !important;
    }

    .next-db-header {
        margin-bottom: 220px;
    }
}

/* 412 x 883 done */
@media (max-width: 412px) and (max-height: 883px) {
    body {
        width: 412px;
        height: 883px;
    }

    .main-container {
        max-width: 412px;
        width: 100%;
    }
}


/* 393 x 851 done */
@media (max-width: 393px) {
    body {
        width: 393px;
        height: 698px;
    }

    .main-container {
        max-width: 393px;
        width: 100%;

    }

    .button:last-child {
        margin-bottom: 80px;
    }

    h2 {
        font-size: 26px;
        max-width: 350px;
        width: 100%;
    }

    h3 {
        margin-left: 114px;
    }

    .progress-bar {
        max-width: 336px;
        width: 100%;
    }

    .ldBar {
        width: 142px;
        padding-top: 5px;
    }

    .choose-card-header {
        max-width: 335px;
        width: 100%;

    }

    .swiper {
        width: 375px;
    }

    .discuss-header {
        margin-bottom: 133px;
    }

    .help-header {
        margin-bottom: 47px;
    }

    .icon-screen-header {
        max-width: 372px;
    }

    .icon-screen-info {
        margin-bottom: 82px;
    }

    .int-emotional-header {
        margin-bottom: 100px;
    }

    .decision-header {
        margin-bottom: 80px;
    }

    .plan-db-header {
        margin-bottom: 80px !important;
    }

    .email-header {
        margin-bottom: 25px;
    }

    .partner-discuss-header {
        margin-bottom: 171px;
    }

    .partner-help-header {
        max-width: 372px;
    }

    .icon-screen-header.no-screen {
        max-width: 389px;
        margin-bottom: 5px;
    }

    .new-header {
        max-width: 350px;

        margin-bottom: 82px;
    }

}


/* 390 x 844 done*/
@media (max-width: 390px) {
    body {
        width: 390px;
        height: 615px;
    }

    .main-container {
        max-width: 390px;
        width: 100%;
    }

    .main-h5 {

        max-width: 300px;
        margin: 0 auto 5px;
    }

    .test h5 {
        margin: 20px 0 20px 30px;
    }

    .header {
        margin-bottom: 0;
        padding-top: 0;
    }

    h2 {
        font-size: 24px;
        line-height: 26px;
        max-width: 350px;
        width: 100%;
        margin-bottom: 220px;
    }

    .birthdate-header {
        margin-bottom: 45px;
    }

    .birthtime-header {
        margin-bottom: 187px;
    }

    .time-input-header {
        margin-bottom: 13px;
    }

    .goals-header {
        margin-bottom: 108px;
    }

    .choose-card-header {
        font-size: 25px;
        line-height: 32px;
    }

    .add-card-header {
        max-width: 340px;
        width: 100%;
    }

    .age-header {
        max-width: 330px;
        margin-bottom: 100px;
    }

    .temperament-header {
        max-width: 348px;
    }

    .discuss-header {
        margin-bottom: 170px;
    }

    .decision-header {
        margin-bottom: 107px;
    }

    .int-emotional-header {
        max-width: 330px;
        margin-bottom: 144px;
    }

    #mut-discuss-header {
        margin-bottom: 170px;
    }

    .help-header {
        margin-bottom: 81px !important;
    }

    .email-header {
        margin-bottom: 65px;
    }

    .price-info {
        margin-bottom: 10px;
    }

    .price-description {
        margin-bottom: 40px;
    }

    .partner-discuss-header {
        margin-bottom: 197px;
        max-width: 330px;
    }

    .icon-screen-header.no-screen {
        max-width: 330px;
        margin-bottom: 10px;
    }

    .progress-bar {
        max-width: 333px;
        width: 100%;
    }

    .button {
        margin: 20px auto;
    }

    .goal {
        margin: 10px auto;
    }

    .icon-screen-info {
        margin-bottom: 46px;
    }

    .icon-screen-header {
        max-width: 330px;
    }

    .age {
        margin: 10px auto;
    }

    .help-header {
        max-width: 330px;
    }

    .icon-screen-info.heart {
        margin-bottom: 32px;
    }
}

/* 375 x 812 done */
@media (max-width: 375px) and (max-height: 812px) {
    body {
        width: 375px;
        height: 588px;
    }

    .main-container {
        max-width: 375px;
        width: 100%;
    }

    h1 {
        font-size: 30px;
        line-height: 32px;
    }

    h2 {

        max-width: 330px;
        width: 100%;
    }

    .test h5,
    .discuss-header {
        max-width: 310px;
    }

    .progress-bar {
        max-width: 320px;
    }

    .icon-screen img {
        margin-bottom: 50px;
    }

    .price-info p {
        font-size: 18px;
        line-height: 21px;
    }

    .total-price {
        max-width: 300px;
    }
} 

/* 375 x 635 standard */
@media (max-width: 375px) and (max-height: 635px) {
    body {
        width: 375px;
        height: 635px;
    }

    .main-container {
        max-width: 375px;
        width: 100%;
    }
}

/* 360 x 880 done */
@media (max-width: 360px) and (max-height: 880px) {
    body {
        width: 360px;
        height: 772px;
    }

    .main-container {
        max-width: 360px;
        width: 100%;
        margin-top: 20px;

    }

    .button:last-child {
        margin-bottom: 210px;
    }
    .main-h5{
        margin-bottom: 60px;
    }
    .icon-screen-info {
        margin-bottom: 115px;
    }
    .icon-screen-info.heart {
        margin-bottom: 90px;
    }

    h3 {
        margin-left: 100px;
    }
    .filter-screen {
        height: 733px !important;
        position: fixed;
    }

    .loading-db-header {
        margin-bottom: 250px !important;
    }

    .plan-db-header {
        margin-bottom: 180px ;
    }

    .email-header {
        max-width: 320px;
        margin-bottom: 110px;
    }
    .price-info {
        margin-bottom: 40px;
    }
    .price-description {
        margin-bottom: 130px;
    }


}

/* 360 x 804 done */
@media (max-width: 360px) and (max-height: 804px) {
    body {
        width: 360px;
        height: 700px;
    }

    .main-container {
        max-width: 360px;
        width: 100%;
        margin-top: 20px;

    }
    .button,
    .birth input{
        max-width: 330px !important;
        width: 100%;
    }
    .button:last-child {
        margin-bottom: 140px;
    }
    .button .button-text,
    .birth input {
        font-size: 20px;
    }
    .main-h5{
        margin-bottom: 70px;
    }

    .filter{
        top: 185px;
    }
    .icon-screen-info {
        margin-bottom: 100px;
    }
    .help-header {
        max-width: 320px;
    }
    .icon-screen-info.heart {
        margin-bottom: 75px;
    }
    .icon-screen-header.no-screen {
        margin-bottom: 20px;
    }
    .price-info {
        margin-bottom: 40px;
    }
    .int-emotional-header {
        max-width: 320px;
    }
     .plan-db-header {
        margin-bottom: 130px !important;
    }
} 

/* 360 x 800  done */
@media (max-width: 360px) and (max-height: 800px) {
    body {
        width: 360px;
        height: 696px;
    }

    .main-container {
        max-width: 360px;
        width: 100%;
        margin-top: 20px;

    }

    h1 {
        margin: 40px auto 60px;
    }

    .main-h5 {
        margin-bottom: 62px;
    }

    h2 {
        margin-bottom: 231px;
    }

    h3 {
        margin-left: 93px;
    }

    .progress-bar {
        max-width: 305px;
        width: 100%;
    }

    .birthdate-header {
        margin-bottom: 105px;
    }

    .birthtime-header {
        margin-bottom: 195px;
    }

    .time-input-header {
        margin-bottom: 73px;
    }

    .icon-screen-header {
        margin: 40px auto;
    }

    .goals-header {
        margin-bottom: 150px;
    }

    .filter-screen {
        height: 652px;
        position: fixed;
    }

    .choose-card-header {
        margin-bottom: 30px;
    }

    .add-card-header {
        margin-bottom: 55px;
    }

    .age-header {
        margin-bottom: 113px;
    }

    .temperament-header {
        margin-bottom: 72px;
    }

    .loading-db-header {
        margin: 80px auto;
    }

    .discuss-header {
        margin-bottom: 192px;
    }

    .help-header {
        margin-bottom: 78px;
    }

    .int-imp-header {
        margin-bottom: 114px;
    }

    .int-imp-und-header {
        margin-bottom: 113px;
    }

    .int-emotional-header {
        margin-bottom: 155px;
    }

    .decision-header {
        margin-bottom: 150px;
    }

    .social-header {
        margin-bottom: 90px;
    }

    .plan-load-info {
        margin-bottom: 60px;
    }

    .plan-db-header {
        margin: 75px auto;
    }

    .email-form {
        margin-top: 0;
    }

    .sun-icon {
        margin-top: 0;
    }

    .icon-screen-info sun-info {
        margin-bottom: 210px;
    }

    .popular-choice {
        margin-bottom: 68px;
    }

    .price-description {
        margin-bottom: 120px;
    }

    .partner-birthdate-header {
        margin-bottom: 69px;
    }

    .partner-input-birthtime-header {
        margin-bottom: 73px;
    }

    /* fix ! */
    /* .partner-birthdate-header{
        margin-bottom: 20px ;
    } */

} 

/* 360 x 780 done */
@media (max-width: 360px) and (max-height: 780px) {
    body {
        width: 360px;
        height: 674px;
    }

    .main-container {
        max-width: 360px;
        width: 100%;
        margin-top: 20px;

    }

    h1 {
        margin: 40px auto;
    }

    .main-h5 {
        margin-bottom: 75px;
        align-self: center;
    }

    .button {
        margin: 10px auto;
    }

    .button:last-child {
        margin-bottom: 90px;
    }


    h5,
    .test h5 {
        max-width: 280px;
        font-size: 16px;
    }

    .test h5 {
        margin: 20px 0 20px 30px;
        font-size: 14px;
    }

    h2 {
        margin-bottom: 280px;
        margin-left: 30px;
        max-width: 300px;
        font-size: 22px;
        line-height: 24px;
    }



    .header {
        padding-top: 0;
        max-width: 320px;
        width: 100%;
    }

    .nav-button {
        padding: 20px;
    }

    .mobile-nav {
        padding: 0 0 30px 40px;
        width: 360px;
    }

    .mobile-nav .nav ul li {
        padding: 20px 0;
    }

    h3 {
        margin-left: 75px;
    }





    .progress-bar {
        max-width: 310px;
        width: 100%;
    }

    .number-active {
        margin-right: 26px;
    }

    .number-next {
        margin-left: 26px;
    }

    .ldBar {
        width: 146px;
        padding-top: 0;
    }






    .birthdate-header {
        margin-bottom: 111px;
    }



    .birthtime-header {
        margin-bottom: 255px;
    }

    .time-input-header {
        margin-bottom: 88px;
    }

    .time {
        margin: 87px auto;
    }

    .icon-screen-header {
        margin: 50px auto;
    }

    .goals-header {
        margin-bottom: 180px;
    }






    .choose-card-button {
        bottom: 140px;
    }

    .filter {
        top: 180px;
    }

    .filter-screen {
        height: 635px;
        position: fixed;
    }



    .add-card-button {
        bottom: 105px;
    }

    .add-cards-filter {
        top: 130px;
    }


    .age-header {
        margin-bottom: 155px;
    }

    .temperament-header {
        margin-bottom: 60px;
    }

    .loading-db-header {
        margin: 80px auto;
    }
    #mut-discuss-header {
        margin-bottom: 215px;
    }
    .discuss-header {
        margin-bottom: 233px;
    }

    .help-header {
        margin-bottom: 150px !important;
    }

    .int-emotional-header {
        margin-bottom: 208px;
    }

    .icon-screen-info.heart {
        margin-bottom: 70px;
    }
    .icon-screen-header.no-screen {
        margin-bottom: 50px;
    }
    .decision-header {
        margin-bottom: 180px;
    }

    .social-header {
        margin-bottom: 115px;
    }


    .plan-load-info {
        margin-bottom: 60px;
    }

    .plan-db-header {
        margin: 80px auto !important;
    }


    .email-form {
        margin-top: 0;
        margin-bottom: 50px;
    }


    .sun-icon {
        margin-top: 0;
    }

    .sun-info {
        margin-bottom: 210px;
    }

    .popular-choice {
        margin-bottom: 60px;
        ;
    }

    .price-description {
        margin-bottom: 100px;
    }



    .partner-discuss-header {
        margin-bottom: 255px;
    }


    .new-header {
        margin-bottom: 190px;
    }

    .co-decision-header {
        margin-bottom: 170px;
    }
}


/* 320 x 568 done*/
@media (max-width: 320px) and (max-height: 568px){
    body {
        width: 320px;
        height: 437px;
    }

    .main-container {
        max-width: 320px;
        width: 100%;
        margin-top: 20px;

    }

    h1 {
        font-size: 23px;
        line-height: 23px;
        max-width: 280px;
        width: 100%;
        margin-bottom: 17px;
        margin-top: 0;
    }

    h5 {
        max-width: 280px;

    }


    .main-h5 {
        align-self: center;
        font-size: 16px;
        margin: 0;
        margin-bottom: 8px;
    }


    .button {
        max-width: 280px !important;
        width: 100%;
        margin: 5px auto;


    }

    .button .button-text {
        font-size: 16px;
        line-height: 20px;

    }


    .button:last-child {
        margin-bottom: 50px;
    }

    .header {
        padding-top: 0;
        max-width: 320px;
        width: 100%;
    }

    .nav-button {
        padding: 20px;
    }

    .mobile-nav {
        padding: 0 0 20px 20px;
        width: 300px;
    }

    .mobile-nav .nav ul li {
        padding: 10px 0;
    }

    h3 {
        margin-left: 80px;
    }

    .progress-bar {
        max-width: 270px;
        width: 100%;
    }

    .number-active {
        margin-right: 10px;
    }

    .number-next {
        margin-left: 10px;
    }

    .ldBar {
        width: 140px;
    }

    h2 {
        margin-bottom: 130px;
        max-width: 280px;
        font-size: 18px;
        line-height: 20px;
    }


    .test h5 {
        margin: 10px 0 10px 30px;
        font-size: 14px;
    }

    .birthdate-header {
        margin-bottom: 38px;
    }

    .birth {
        max-width: 280px;
        width: 100%;
        margin-bottom: 0;
    }

    .birth input {
        font-size: 16px;
        height: 45px;
        margin: 0 auto 5px;
    }

    .birthtime-header {
        margin-bottom: 110px;
    }

    .time-input-header {
        margin-bottom: 0;
    }

    .time {
        margin: 87px auto;
        margin-bottom: 41px;
    }


    .icon-screen-info {
        max-width: 300px;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    .icon-screen img {
        margin-bottom: 10px;
    }

    .goal {
        margin: 5px auto;
    }

    .goals-header {
        margin-bottom: 60px;
    }

    .choose-card-header {
        margin-bottom: 20px;
        max-width: 250px;
        font-size: 20px;
         line-height: 22px;
    }

    .swiper {
        width: 300px !important;
    }

    .swiper-slide,
    .swiper-slide img {
        width: 120px !important;
        
    }

    .swiper-slide {
        width: 50%;
    }

    .choose-card-button {
        bottom: 85px;
    }



    .filter {
        top: 76px;
        height: 140px;
    }

    .filter-screen {
        height: 396px;
        position: fixed;
    }

    .add-card-header {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .add-card-button {
        bottom: 155px;
    }

    .add-card-h5 {
        margin: 10px 0px 10px 30px;
    }

    .add-cards-filter {
        top: 115px;
    }

    .age {
        margin: 5px auto;
    }

    .age-header {
        margin-bottom: 40px;
        max-width: 280px
    }

    .temperament-header {
        margin-bottom: 10px;
        max-width: 280px;
        font-size: 18px;
    line-height: 20px;
    }
    .discuss-header{
        max-width: 280px !important;
        width: 100%;
    }

    .temp-button {
        padding: 15px 0;
    }

    .int-emotional-header {
        max-width: 280px;
        margin-bottom: 70px;
    }

    .loading-db-header {
        max-width: 288px;
        width: 100%;
        line-height: 20px;
        margin:30px auto;
    }

    .discuss-header {
        margin-bottom: 90px;
        max-width: 353px
    }

    #mut-discuss-header {
        margin-bottom: 110px;
    }

    .help-header {
        margin-bottom: 20px !important;
        max-width: 280px;
    }

    .int-imp-header {
        margin-bottom: 50px !important;
    }

    .icon-screen-header {
        max-width: 280px;
        width: 100%;
        margin-bottom: 35px;
        margin-top: 0;
    }


    .icon-screen-header.no-screen {
        max-width: 295px;
        width: 100%;
        margin-bottom: 10px;
    }

    .icon-screen-info.heart {
        margin-bottom: 45px;
    }

    .decision-header {
        margin-bottom: 40px;
    }

    .social-header {
        margin-bottom: 12px;
        max-width: 280px;
    }

    .plan-db-header {
        margin:20px !important;
    }

    .plan-load-info {
        margin-bottom: 50px;
    }

    .email-form {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    #email {
        max-width: 280px;
        width: 100%;
        font-size: 16px;
        height: 45px;
    }

    .checkbox {
        max-width: 280px;
        width: 100%;

    }

    .checkbox p {
        font-size: 15px;
    }

    .sun-icon {
        margin-top: 20px;
    }

    .sun-info {
        margin-bottom: 111px;
    }

    .price-info p:not(:last-child) {
        margin-bottom: 5px;
    }

    .price-info {
        max-width: 280px;
        width: 100%;
        margin-bottom: 10px;
    }

    .price-info p {
        font-size: 15px;
        line-height: 20px;
    }

    .price-boxes {
        max-width: 280px;
        width: 100%;
        margin-bottom: 15px;
    }

    .box {
        width: 63px;
        height: 49px;
        font-size: 16px;
    }

    .popular-choice {
        margin-bottom: 0;
    }

    .special {
        margin-top: 20px;
    }

    .white-bold {
        margin-bottom: 5px;
    }

    .plan-basis {
        max-width: 280px;
        width: 100%;
        margin: 20px auto;
    }

    .plan-basis h4 {
        line-height: 20px;
        margin-bottom: 10px;
    }

    .plan-header {
        margin-bottom: 10px;
    }

    .basis-list {
        max-height: 120px;
        overflow: scroll;
    }

    .basis-list li {

        max-width: 250px;
        margin: 5px;
    }

    .basis-list li img {
        margin-right: 10px;
    }

    .basis-list li p {
        font-size: 15px;
        line-height: 16px;
    }

    .trial_header {
        margin: 20px auto;
    }

    .user-boxes {
        max-width: 300px;
    }

    .total-price {
        max-width: 280px;
    }

    .total-price-info .total,
    .promocode,
    .promo-name,
    .economy {
        font-size: 15px;
    }

    .price-description {
        max-width: 280px;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .partner-birthdate-header {
        margin-bottom: 18px;
    }

    .partner-discuss-header {
        margin-bottom: 110px;
    }

    .partner-decision-header {
        margin-bottom: 25px;
    }

    .new-header {
        margin-bottom: 40px;
    }

    .past-header {
        margin-bottom: 40px;
    }

    .next-int-em-header {
        margin-bottom: 90px;
    }

    .eye-header {
        margin-bottom: 25px;
    }

    .co-decision-header {
        margin-bottom: 20px;
        max-width: 280px;
    }
} 