.progress-bar,
.number-active,
.number-next {
    display: flex;
}

.progress-bar {
    max-width: 375px;
    width: 100%;
    margin: 26px;
}

.number-active{
    margin-right: 26px;
}
.number-next {
    margin-left: 26px;
}

.number-active-item,
.number-next-item {
    font-weight: 500;
    font-size: 9px;
    line-height: 20px;

    text-align: center;
    color: #F3F6F8;
    background: #2582E8;

    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.number-active-item:not(:last-child),
.number-next-item:not(:last-child) {
    margin-right: 12px;
}

.number-next-item {
    opacity: 0.2;
    color: #2582E8;
    border: 1.5px solid #2582E8;
    background: transparent;
}




.ldBar {
    width: 167px !important;
}

.ldBar-label {
    display: none;
}

.ldBar path.mainline {
    stroke-width: 1;
    stroke: #2582E8;
    stroke-linecap: round;
}

.ldBar path.baseline {
    stroke-width: 1;
    stroke: #2582E8;
    opacity: 0.1;
    stroke-linecap: round;
}


.ldBar1-2{
    width: 252px !important;
}

.ldBar1-3{
    width: 220px !important;
}